// Variables globales
$font-family-base: 'Montserrat', sans-serif; // Tipografía base
$primary-color: #343a40; // Color oscuro principal
$secondary-color: #6b6b6b; // Color secundario
$accent-color: #ffc107; // Color de acento para hover
$background-color-body: #e9e9e9; // Color de fondo del cuerpo
$text-color: #ffffff; // Color de texto
$hero-background-image: url('../Fixtures/mauri2.png'); // Imagen de fondo para la sección hero
$genetic-background-image: url('../Fixtures/toroexpo1.jpg'); // Imagen de fondo para la sección genética
$footer-background-color: #a7a7a7; // Color de fondo del footer

// Estilo general
body {
  background-color: $background-color-body;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  color: $text-color;
}

// Navbar
.navbar {
  background-color: $primary-color; // Color oscuro
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  color: #f8f9fa; // Texto blanco
}

.navbar .nav-link {
  color: #f8f9fa; // Texto blanco
  padding: 0.8rem;

  &:hover {
    color: $accent-color; // Amarillo al pasar el mouse
  }
}

// Sección Hero
.hero {
  background-image: $hero-background-image;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Superposición oscura
    z-index: 1;
  }

  .texto-hero {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 10px;
      text-shadow: 2px 2px 4px rgba(233, 233, 233, 0.7);
    }

    p {
      font-size: 1.5rem;
    }

    a {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: $primary-color;
      color: #b8b8b8;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}

// Sección de Estancias y Genética
.seccion-estancias,
.seccion-genetica {
  background-image: url('../Fixtures/fondoestablecimiento.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2 {
    margin-bottom: 30px;
    background-color: rgba(167, 167, 167, 0.7);
    padding: 15px;
    border-radius: 10px;
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(168, 168, 168, 0.5);
  }

  img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out; // Asegúrate de que esta línea esté presente
    transform: scale(1.05); // Este es el tamaño inicial
}

img:hover {
    transform: scale(1.1); // Escala al pasar el mouse
}

}

// Sección de Genética
.seccion-genetica {
  background-image: $genetic-background-image;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding: 50px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .contenedor {
    position: relative;
    z-index: 1;
  }
}

// Footer
footer {
  background-color: $footer-background-color;
  color: $text-color;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;

  p a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;

    &:hover {
      color: #f8f9fa;
    }
  }
}
