// Variables globales
$font-family-base: 'Montserrat', sans-serif;
$background-color-body: #f8f9fa;
$background-color-footer: #f9f9f9;
$color-link: #7c7c7c;
$color-link-hover: #000000;
$background-color-title: #ffffff;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

// Estilos generales
body {
    font-family: $font-family-base;
    background-image: url('../Fixtures/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 56px; // Ajusta para dejar espacio al navbar fijo
}

// Animación de ubicación
.location-animation {
    animation: slide-in 1s ease-out;
}

// Animaciones
@keyframes slide-in {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Navbar
.navbar {
    background-color: #343a40; 
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1000;
}

// Footer
footer {
    background-color: $background-color-footer;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;

    a {
        text-decoration: none;
        color: $color-link-hover;
        font-weight: bold;

        &:hover {
            color: $color-link;
        }
    }
}
