// Variables globales
$font-family-base: 'Montserrat', sans-serif;
$background-color-body: #f8f9fa;
$color-link: #ffffff;
$color-link-hover: #000;
$background-color-title: #fff;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$title-color:#fff;
// Estilos generales
body {
    font-family: $font-family-base;
    background-image: url('../Fixtures/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #333;
}

// Jumbotron
.jumbotron {
    background-color: $background-color-body;
    box-shadow: $box-shadow;
    padding: 2rem;
    border-radius: 0;
}

// Galería de toros
.galeria-toros {
    margin: 2rem 0;

    h2 {
        margin-bottom: 2rem;
        color: #343a40;
    }

    .card {
        box-shadow: $box-shadow;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        img {
            max-height: 250px;
            object-fit: cover;
        }

        .card-title {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .card-text {
            color: #7c7c7c;
        }
    }
}

// Contacto sección
.contacto-section {
    background-color: #f9f9f9;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: $box-shadow;

    h2 {
        margin-bottom: 1rem;
        color: #343a40;
    }

    p {
        margin-bottom: 1rem;
    }

    .btn {
        background-color: #007bff;
        color: white;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.video-container {
    h2 {
        margin-bottom: 20px;
        color: $title-color; // Asegúrate de que esta variable esté definida
    }
    
    .embed-responsive {
        max-width: 40%;
        margin: 0 auto; // Centrar el video
    }
}


// Footer
footer {
    background-color: #6b6b6b;
    color: #f8f9fa;
    padding: 20px;
    font-size: 14px;

    a {
        color: $color-link;
        text-decoration: none;

        &:hover {
            color: $color-link-hover;
        }
    }
}
